.contain
{
	position: relative;
	background: url(imagenes//background.jpeg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 250px 0 250px;
}

.mt-4 
{
	margin-left: 40%;
	margin-bottom: 3%;

}

.grid1
{
  margin-left: 10%;
  display: grid;
}

.titulo_tabla
{
	margin-top: 5%;
	margin-left: 40%;
	margin-bottom: 3%;

}

#autores {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
}
#autores tr:nth-child(even){background-color: #f2f2f2;}

#autores tr:hover {background-color: #ddd;}

#autores th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}